@{
    Layout = "~/views/shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <p>
            <a href="@Url.RouteUrl("Login")">Click here</a> to login.
        </p>
    </div>
</body>
</html>
