@model Blog.ViewModels.BlogPostViewModel.PostsViewModel

<div class="page-header">
    <h1>Blog <small>a blog about stuff</small></h1>
</div>

<div class="container">
    <div class="row">
        <div id="post-content" class="col-lg-8">
            @Html.Partial("_Posts", Model)
        </div>
        <div class="col-lg-4 sidebar">
            @Html.Action("Sidebar", "Sidebar")
        </div>
    </div>
</div>
