@model Blog.ViewModels.Sidebar

<div class="container-fluid sidebar-margin">
    <div class="row sidebar-padding">
        <div class="input-group col-md-8">
            <form class="form" role="form">
                <div class="form-group search-active">
                    <input type="text" class="form-control search" placeholder="Search..." aria-label="Search">
                    <span class="glyphicon glyphicon-search search-icon" aria-hidden="true"></span>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="sidebar-header">
            CATEGORIES
        </div>
        <div class="sidebar-divider"></div>
    </div>
    <div class="row">
        <div class="list-group col-md-10">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                Category 1
                <span class="pull-right">#</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                Category 2
                <span class="pull-right">#</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                Category 3
                <span class="pull-right">#</span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="sidebar-header">
            TAGS
        </div>
        <div class="sidebar-divider"></div>
    </div>
    <div class="row">
        <div class="col-md-10 sidebar-tags">
            <ul class="list-inline">
                @foreach (var tag in Model.Tags)
                {
                    <li class="tag-link">
                        @Ajax.ActionLink(tag.Name, "Tag", "Posts", new { tag.Id, tag.Slug }, new AjaxOptions()
                           {
                               HttpMethod = "GET",
                               UpdateTargetId = "post-content",
                               InsertionMode = InsertionMode.Replace
                           })
                        <span class="post-tag-count">@tag.PostCount</span>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>